brotli
certifi
cffi
charset-normalizer
click
contourpy
CookieProject
cryptography
cycler
filelock
fonttools==4.25.0
fsspec==2023.12.2
gmpy2
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
munkres==1.1.4
networkx
numpy==1.26.3
packaging
Pillow
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
PyYAML
requests
six
sympy
torch==2.1.2
torchvision==0.16.2
tornado
tqdm
typing_extensions
urllib3
